@charset "ISO-8859-1";
/*====FONTS====*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/*====FONTS====*/


*											{margin:0px; width:100%;text-decoration:none;font-style:normal;transition:all .25s ease-in-out;}


/*= MH =*/
.mh											{width:100%;height:100%;overflow:hidden;}
	.mh div:nth-child(1)					{height:10%;}
	.mh div:nth-child(2)					{height:90%;}

	.mh-pt0 								{width:100%;height:100px;position:absolute;z-index:1;opacity:50%;}
	.mh-pt0 img								{width:100%;}

	.mh-pt1 								{width:100%;z-index:2;position:relative;}
		.mh-pt1 div:nth-child(1)			{width:1%;}
		.mh-pt1 div:nth-child(2)			{width:49%;}
		.mh-pt1 div:nth-child(2) a			{width:100%;position:relative;top:10px;font-family:"DM Serif Display",serif;font-size:120%;color:#454545;}
		.mh-pt1 div:nth-child(3)			{width:40%;}
		.mh-pt1 div:nth-child(3) a			{width:13%;margin:2% 0 2% 0;font-family:"Urbanist",sans-serif;font-weight:400;font-size:75%;float:left;color:#454545;}
		.mh-pt1 div:nth-child(3) a:hover	{color:#454545;}
		.mh-pt1 div:nth-child(4)			{width:10%;}
		.mh-pt1 div:nth-child(1),
		.mh-pt1 div:nth-child(2),
		.mh-pt1 div:nth-child(3),
		.mh-pt1 div:nth-child(4)			{float:left;}

	.mh-pt2 								{width:98%;margin:0 1% 0 1%;position:relative;font-size:85%;color:#454545;z-index:3;}
		.mh-pt2splash	 					{width:50%;margin:20% 0 .5% 0;}
		.mh-pt2splashhead 					{width:100%;font-family:"Passion One",sans-serif;font-size:500%;letter-spacing:-2px;}
		.mh-pt2splashtext					{width:100%;font-family:"Urbanist",sans-serif;font-size:90%;}
		.mh-pt2splashtext p					{width:80%;}















